$dark-gray: #454953;
$salmon: #E7989A;
$pale-orange: #FFCEB0;
$almost-white: #FFF8F4;
$primary: $salmon;

@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');



html, body {
  background-color: $dark-gray;
}

h1 {
  color: $salmon;
  font-weight: bold;
}

input {
  width: 100%;
  border-radius: 2px;
  &:focus-visible {
    outline: #E7989A solid 1px;
  }
}

.btn-primary {
  color: $almost-white;
  &:hover {
    color: $almost-white;
  }
}

#loadingScreen {
  height: 100vh;
  width: 100vw;
  background-color: $dark-gray;
  color: $almost-white;
  img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: 2s linear infinite reverse rock;
  }
}

header .logo {
  max-width: 90px;
  img {
    padding: 0;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}
.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", serif;
  font-weight: 400;
  font-style: normal;
}
.archivo-black-regular {
  font-family: "Archivo Black", serif;
  font-weight: 400;
  font-style: normal;
}


.album {
  h2 {
    color: $almost-white;
  }

  .frame {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $pale-orange;
      height: 170px;
      width: 170px;

      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      transform: rotate(5deg);
    }
    &:hover {
      cursor: pointer;
      &:before {
        animation: 0.5s linear straightenFrame forwards;
      }
    }
    img {
      position: relative;
      z-index: 1;
      border: solid 2px $almost-white
    }
  }

  p {
    margin-bottom: 0;
    &.album-name {
      color: $pale-orange;
    }
    &.album-artist {
      color: $almost-white;
    }
  }
}

@keyframes rock {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes straightenFrame {
  0% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(2.5deg) scale(1.1);
    -moz-transform: rotate(2.5deg) scale(1.1);
    -o-transform: rotate(2.5deg) scale(1.1);
    -ms-transform: rotate(2.5deg) scale(1.1);
    transform: rotate(2.5deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.1) translate(1px, 1px);
    -moz-transform: rotate(0deg) scale(1.1) translate(1px, 1px);
    -o-transform: rotate(0deg) scale(1.1) translate(1px, 1px);
    -ms-transform: rotate(0deg) scale(1.1) translate(1px, 1px);
    transform: rotate(0deg) scale(1.1) translate(1px, 1px);
  }
}
